<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="primary tc no-underline ttu pa3 db center b h-100 flex-none">
		<!-- <img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/> -->
		Подсосенки
	</a>

	<!-- Primary Nav -->
	<ul class="dn list pl0 fflex mv0 b">
		<li><a href="/products" class="pa3 grey-3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 grey-3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 grey-3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 grey-3 no-underline db">Contact</a></li>
	</ul>

</nav>
