<div class="bg-off-white pv5 products">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mt0 mb2">{{.heading}}</h2>
    <p class="mt0 mb4 mw-100">{{.description}}</p>
    <form id="gform" method="POST" class="" action="https://script.google.com/macros/s/AKfycbzBrrNPXxPHdM6U8tz8KePcYe_RmP5c7Cyd4q2REQ/exec">
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product1" value="{{.text1}}">
          <label for="product1" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg1}}" alt="" class="center db mb3">
            </div>
            <p>{{.text1}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text1}}" id="product1Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text1}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product2" value="{{.text2}}">
          <label for="product2" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg2}}" alt="" class="center db mb3">
            </div>
            <p>{{.text2}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text2}}" id="product2Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text2}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product3" value="{{.text3}}">
          <label for="product3" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg3}}" alt="" class="center db mb3">
            </div>
            <p>{{.text3}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text3}}" id="product3Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text3}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
      </div>
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product4" value="{{.text4}}">
          <label for="product4" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg4}}" alt="" class="center db mb3">
            </div>
            <p>{{.text4}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text4}}" id="product4Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text4}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product5" value="{{.text5}}">
          <label for="product5" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg5}}" alt="" class="center db mb3">
            </div>
            <p>{{.text5}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text5}}" id="product5Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text5}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product6" value="{{.text6}}">
          <label for="product6" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg6}}" alt="" class="center db mb3">
            </div>
            <p>{{.text6}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text6}}" id="product6Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text6}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
      </div>
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product7" value="{{.text7}}">
          <label for="product7" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg7}}" alt="" class="center db mb3">
            </div>
            <p>{{.text7}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text7}}" id="product7Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text7}}">шт. &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product8" value="{{.text8}}">
          <label for="product8" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg8}}" alt="" class="center db mb3">
            </div>
            <p>{{.text8}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text8}}" id="product8Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text8}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product9" value="{{.text9}}">
          <label for="product9" class="overflow-hidden">
            <div class="overflow-hidden product-image">
              <img src="{{.svg9}}" alt="" class="center db mb3">
            </div>
            <p>{{.text9}}</p>
            <div class="bt selector">
              <p>Введите количество:</p>
              <div class="h-25">
                <input type="number" name="{{.text9}}" id="product9Amount" value="" class="input-reset bg-white ba b--black-20 pa2 tc w-25"
                  min="10" max="999" step="1" placeholder="10">
                <label class="f6 b" for="{{.text9}}">кг &mdash; 100 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
      </div>
      <div class="flex-ns mhn2-ns customer">
        <fieldset class="ma2 w-33-ns product">
          <label for="name" class="db fw4 lh-copy f6">Ваше имя:</label>
          <input class="pa2 ma2 input-reset ba bg-transparent measure" name="name" type="input" id="name" placeholder="Имя" required>
        </fieldset>
          <fieldset class="ma2 w-33-ns product">
            <label for="phone" class="db fw4 lh-copy f6">Ваш телефон:</label>
            <input class="pa2 ma2 input-reset ba bg-transparent measure" name="phone" type="phone" id="phone" placeholder="89991234567" required>
          </fieldset>
            <fieldset class="ma2 w-33-ns product">
              <label for="comment" class="db fw4 lh-copy f6">Комментарий:</label>
              <textarea class="pa2 ma2 input-reset ba bg-transparent measure" name="message" id="comment" placeholder="Введите адрес доставки"></textarea>
            </fieldset>
          </div>
      {{ if .buttonText }}
      <div class="dn tc">
        <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
      </div>
      {{ end }}
      <input class="ma2 b ph3 pv2 input-reset ba b--black white bg-primary grow pointer f6" type="submit" value="Отправить заказ">
    </form>
    <div style="display:none;" id="thankyou_message">
      <h2>
        Ваш заказ отправлен!<br>
        <small>Мы свяжемся с вами в ближайшее время для уточнение деталей.</small></h2>
    </div>
    <script>
    (function() {
  function validEmail(email) { // see:
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }

  function validateHuman(honeypot) {
    if (honeypot) {  //if hidden form filled up
      console.log("Robot Detected!");
      return true;
    } else {
      console.log("Welcome Human!");
    }
  }

  // get all data in form and return object
  function getFormData() {
    var form = document.getElementById("gform");
    var elements = form.elements;

    var fields = Object.keys(elements).filter(function(k) {
          return (elements[k].name !== "honeypot");
    }).map(function(k) {
      if(elements[k].name !== undefined) {
        return elements[k].name;
      // special case for Edge's html collection
      }else if(elements[k].length > 0){
        return elements[k].item(0).name;
      }
    }).filter(function(item, pos, self) {
      return self.indexOf(item) == pos && item;
    });

    var formData = {};
    fields.forEach(function(name){
      var element = elements[name];
      
      // singular form elements just have one value
      formData[name] = element.value;

      // when our element has multiple items, get their values
      if (element.length) {
        var data = [];
        for (var i = 0; i < element.length; i++) {
          var item = element.item(i);
          if (item.checked || item.selected) {
            data.push(item.value);
          }
        }
        formData[name] = data.join(', ');
      }
    });

    // add form-specific values into the data
    formData.formDataNameOrder = JSON.stringify(fields);
    formData.formGoogleSheetName = form.dataset.sheet || "responses"; // default sheet name
    formData.formGoogleSendEmail = form.dataset.email || ""; // no email by default

    console.log(formData);
    return formData;
  }

  function handleFormSubmit(event) {  // handles form submit without any jquery
    event.preventDefault();           // we are submitting via xhr below
    var data = getFormData();         // get the values submitted in the form

    if (validateHuman(data.honeypot)) {  //if form is filled, form will not be submitted
      return false;
    }

    if( data.email && !validEmail(data.email) ) {   // if email is not valid show error
      var invalidEmail = document.getElementById("email-invalid");
      if (invalidEmail) {
        invalidEmail.style.display = "block";
        return false;
      }
    } else {
      disableAllButtons(event.target);
      var url = event.target.action;  //
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      // xhr.withCredentials = true;
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
          console.log( xhr.status, xhr.statusText )
          console.log(xhr.responseText);
          document.getElementById("gform").style.display = "none"; // hide form
          var thankYouMessage = document.getElementById("thankyou_message");
          if (thankYouMessage) {
            thankYouMessage.style.display = "block";
          }
          return;
      };
      // url encode form data for sending as post data
      var encoded = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + "=" + encodeURIComponent(data[k])
      }).join('&')
      xhr.send(encoded);
    }
  }
  function loaded() {
    console.log("Contact form submission handler loaded successfully.");
    // bind to the submit event of our form
    var form = document.getElementById("gform");
    form.addEventListener("submit", handleFormSubmit, false);
  };
  document.addEventListener("DOMContentLoaded", loaded, false);

  function disableAllButtons(form) {
    var buttons = form.querySelectorAll("button");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].disabled = true;
    }
  }
})();</script>
  </div>
</div>
<div class="bg-grey-1 pv4 shadow-5">
    <div class="mhn1-l ph3 center mw7">
      <h2>Доставка</h2>
      <p>Возможна доставка по России фурой 20 тонн.<br>
      Расчет стоимости доставки производится индивидуально, в среднем от 50 &#8381; за км.</p>
    </div>
  </div>
  <div class="bg-black ph3 pv4 white tc">
      <div class="mhn1-l ph3 center mw7">
        <h2>Контакты</h2>
        <p class="center">Рязанская область, Щацкий район,<br>село Большое Агишево<br>
        <a href="tel:+7-916-408-33-43" class="link white">+7-916-408-33-43</a></p>
      </div>
    </div>