<div class="bg-off-white pv4 products">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mt0 mb2">{{.heading}}</h2>
    <p class="mt0 mb4 mw-100">{{.description}}</p>
    <form>
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product1" value="{{.text1}}">
          <label for="product1" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg1}}" alt="" class="center db mb3">
            </div>
            <p>{{.text1}}</p>
            <div class="flex-ns flex-wrap overflow-y-scroll bt selector">
              <p>Вес &mdash; цена:</p>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount1" value="10 кг" class="mt1 mr1" checked>
                <label for="product1Amount1">10 кг &mdash; 100 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount2" value="20 кг" class="mt1 mr1">
                <label for="product1Amount2">20 кг &mdash; 200 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount3" value="30 кг" class="mt1 mr1">
                <label for="product1Amount3">30 кг &mdash; 300 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount4" value="40 кг" class="mt1 mr1">
                <label for="product1Amount4">40 кг &mdash; 400 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount5" value="50 кг" class="mt1 mr1">
                <label for="product1Amount5">50 кг &mdash; 500 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount6" value="60 кг" class="mt1 mr1">
                <label for="product1Amount6">60 кг &mdash; 600 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount7" value="70 кг" class="mt1 mr1">
                <label for="product1Amount7">70 кг &mdash; 700 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount8" value="80 кг" class="mt1 mr1">
                <label for="product1Amount8">80 кг &mdash; 800 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount9" value="90 кг" class="mt1 mr1">
                <label for="product1Amount9">90 кг &mdash; 900 &#8381;</label>
              </div>
              <div class="flex mb2">
                <input type="radio" name="product1Amount" id="product1Amount10" value="100 кг" class="mt1 mr1">
                <label for="product1Amount10">100 кг &mdash; 1000 &#8381;</label>
              </div>
            </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product2" value="{{.text2}}">
          <label for="product2" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg2}}" alt="" class="center db mb3">
            </div>
            <p>{{.text2}}</p>
            <div class="flex-ns flex-wrap overflow-y-scroll bt selector">
                <p>Вес &mdash; цена:</p>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount1" value="10 кг" class="mt1 mr1" checked>
                  <label for="product2Amount1">10 кг &mdash; 100 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount2" value="20 кг" class="mt1 mr1">
                  <label for="product2Amount2">20 кг &mdash; 200 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount3" value="30 кг" class="mt1 mr1">
                  <label for="product2Amount3">30 кг &mdash; 300 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount4" value="40 кг" class="mt1 mr1">
                  <label for="product2Amount4">40 кг &mdash; 400 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount5" value="50 кг" class="mt1 mr1">
                  <label for="product2Amount5">50 кг &mdash; 500 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount6" value="60 кг" class="mt1 mr1">
                  <label for="product2Amount6">60 кг &mdash; 600 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount7" value="70 кг" class="mt1 mr1">
                  <label for="product2Amount7">70 кг &mdash; 700 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount8" value="80 кг" class="mt1 mr1">
                  <label for="product2Amount8">80 кг &mdash; 800 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount9" value="90 кг" class="mt1 mr1">
                  <label for="product2Amount9">90 кг &mdash; 900 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product2Amount" id="product2Amount10" value="100 кг" class="mt1 mr1">
                  <label for="product2Amount10">100 кг &mdash; 1000 &#8381;</label>
                </div>
              </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product3" value="{{.text3}}">
          <label for="product3" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg3}}" alt="" class="center db mb3">
            </div>
            <p>{{.text3}}</p>
            <div class="flex-ns flex-wrap overflow-y-scroll bt selector">
                <p>Вес &mdash; цена:</p>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount1" value="10 кг" class="mt1 mr1" checked>
                  <label for="product3Amount1">10 кг &mdash; 100 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount2" value="20 кг" class="mt1 mr1">
                  <label for="product3Amount2">20 кг &mdash; 200 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount3" value="30 кг" class="mt1 mr1">
                  <label for="product3Amount3">30 кг &mdash; 300 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount4" value="40 кг" class="mt1 mr1">
                  <label for="product3Amount4">40 кг &mdash; 400 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount5" value="50 кг" class="mt1 mr1">
                  <label for="product3Amount5">50 кг &mdash; 500 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount6" value="60 кг" class="mt1 mr1">
                  <label for="product3Amount6">60 кг &mdash; 600 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount7" value="70 кг" class="mt1 mr1">
                  <label for="product3Amount7">70 кг &mdash; 700 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount8" value="80 кг" class="mt1 mr1">
                  <label for="product3Amount8">80 кг &mdash; 800 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount9" value="90 кг" class="mt1 mr1">
                  <label for="product3Amount9">90 кг &mdash; 900 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product3Amount" id="product3Amount10" value="100 кг" class="mt1 mr1">
                  <label for="product3Amount10">100 кг &mdash; 1000 &#8381;</label>
                </div>
              </div>
          </label>
        </fieldset>
      </div>
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product4" value="{{.text4}}">
          <label for="product4" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg4}}" alt="" class="center db mb3">
            </div>
            <p>{{.text4}}</p>
            <div class="flex-ns flex-wrap overflow-y-scroll bt selector">
                <p>Вес &mdash; цена:</p>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount1" value="10 кг" class="mt1 mr1" checked>
                  <label for="product4Amount1">10 кг &mdash; 100 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount2" value="20 кг" class="mt1 mr1">
                  <label for="product4Amount2">20 кг &mdash; 200 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount3" value="30 кг" class="mt1 mr1">
                  <label for="product4Amount3">30 кг &mdash; 300 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount4" value="40 кг" class="mt1 mr1">
                  <label for="product4Amount4">40 кг &mdash; 400 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount5" value="50 кг" class="mt1 mr1">
                  <label for="product4Amount5">50 кг &mdash; 500 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount6" value="60 кг" class="mt1 mr1">
                  <label for="product4Amount6">60 кг &mdash; 600 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount7" value="70 кг" class="mt1 mr1">
                  <label for="product4Amount7">70 кг &mdash; 700 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount8" value="80 кг" class="mt1 mr1">
                  <label for="product4Amount8">80 кг &mdash; 800 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount9" value="90 кг" class="mt1 mr1">
                  <label for="product4Amount9">90 кг &mdash; 900 &#8381;</label>
                </div>
                <div class="flex mb2">
                  <input type="radio" name="product4Amount" id="product4Amount10" value="100 кг" class="mt1 mr1">
                  <label for="product4Amount10">100 кг &mdash; 1000 &#8381;</label>
                </div>
              </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product5" value="{{.text5}}">
          <label for="product5" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg5}}" alt="" class="center db mb3">
            </div>
            <p>{{.text5}}</p>
            <div class="flex-ns flex-wrap bt selector">
                <p>Выберите количество:</p>
                <div class="flex h-25">
                  <input type="number" name="product5Amount" id="product5Amount" value="" class="input-reset bg-white ba b--black-20 pa2 mb2 db w-20" min="10" max="1000" step="1" placeholder="10">
                  <label class="f6 b db mb2" for="product5Amount">кг &mdash; 100 &#8381;</label>
                </div>
              </div>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product6" value="{{.text6}}">
          <label for="product6" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg6}}" alt="" class="center db mb3">
            </div>
            <p>{{.text6}}</p>
          </label>
        </fieldset>
      </div>
      <div class="flex-ns mhn2-ns">
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product7" value="{{.text7}}">
          <label for="product7" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg7}}" alt="" class="center db mb3">
            </div>
            <p>{{.text7}}</p>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product">
          <input class="ma3 absolute z-5" type="checkbox" id="product8" value="{{.text8}}">
          <label for="product8" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg8}}" alt="" class="center db mb3">
            </div>
            <p>{{.text8}}</p>
          </label>
        </fieldset>
        <fieldset class="ma2 w-33-ns product" style="visibility: hidden;">
          <input class="ma3 absolute z-5" type="checkbox" id="product9" value="{{.text9}}">
          <label for="product9" class="overflow-hidden">
            <div class="overflow-hidden product-image" style="max-height: 280px">
              <img src="{{.svg9}}" alt="" class="center db mb3">
            </div>
            <p>{{.text9}}</p>
          </label>
        </fieldset>
      </div>
      {{ if .buttonText }}
      <div class="dn tc">
        <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
      </div>
      {{ end }}
      <button type="submit">Отправить заказ</button>
    </form>
  </div>
</div>