{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/glenn-carstens-peters-112923-unsplash.jpg" "title" "Современный агрокомплекс" "subtitle" "Натуральные продукты с доставкой по всей России") }}

{{ partial "short-text" (dict "heading" "Почему Подсосенки?" "text" "Агрокомплекс Подсосенки располагает всеми необходимыми ресурсами для производства семян и других культур, которые позволяют ему быть одним из лучших агрокомплексов России.")}}

{{ partial "2-up" (dict "heading" "Мы предлагаем" "description" "В распоряжении агрокомлекса Подсосенки современная надежная техника и квалифицированный персонал." "svg1" "img/products/lars-blankers-564561-unsplash.jpg" "text1" "Картофель 11" "svg2" "/img/products/harshal-s-hirve-44494-unsplash.jpg" "text2" "Морковь 22" "svg3" "/img/products/andrea-riezzo-486640-unsplash.jpg" "text3" "Помидоры 33" "svg4" "/img/products/harshal-s-hirve-50029-unsplash.jpg" "text4" "Огурцы 44" "buttonText" "Вся продукция" "buttonLink" "/products"  ) }}

<!-- {{ partial "text-and-image" (dict "heading" "Our values" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/values") }} -->

<!-- {{ partial "blog" . }} -->

<!-- {{ partial "footer" . }} -->
